@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #2d425b;
}

.ant-modal-content {
  background-color: rgb(223, 231, 231) !important;

}
